.container{
    width:640px;
    height:640px;
    border:solid olive 8px;
    margin: 15px auto;
     /* display: flex;
    flex-wrap: wrap;   */
    
}

.white {
    width:80px;
    height:80px;
    background-color: #fff;
    text-align:center;
    font-size:45px;
    display: table-cell;
    float: left;
   
    /*vertical-align: middle;*/

}

.black{
    width:80px;
    height:80px;
    background-color:#999;
    font-size:45px;
    text-align: center;
    display: table-cell;
    float: left;
    
}
.white:active{
    color:rgb(50, 15, 250);
    cursor: pointer;
    
} 
  .white:hover{
    background-color:rgb(248, 248, 159);
    cursor: pointer; 
}

.black:active{
    color:rgb(201, 3, 3);
    cursor: pointer;
    
}

.black:hover{
    background-color:rgb(243, 165, 235);
    cursor: pointer;
}

